doctype 5
html
  head
    title Task1
	meta charset="utf-8"
	meta http-equiv="X-UA-Compatible" content="IE=edge"
	meta name="viewport" content="width=device-width, initial-scale=1"
	link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'
	link rel="stylesheet" href="dist/css/style.css"

	/ [if lt IE 9]>
		script src="public/js/html5shiv.min.js"
	/ [endif]
  body
    .wrap
    	.plans
    		/ plan 1
    		.plan
    			h2.plan__title Plan 1
    			div.plan__price
    				| &#36;10/
    				span.plan__price-month month
    			ul.plan-offers
    				li.plan-offers__item
    					span.plan-offers__bold 2x
    					| option 1
    				li.plan-offers__item
    					span.plan-offers__bold Free
    					| option 2
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 3
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 4
    				li.plan-offers__item
    					span.plan-offers__bold 1x
    					| option 5
    			a.btn.plan__btn href="#" hrepurchase

			/ plan 2
    		.plan
    			h2.plan__title Plan 2
    			div.plan__price
    				| &#36;10/
    				span.plan__price-month month
    			ul.plan-offers
    				li.plan-offers__item
    					span.plan-offers__bold 2x
    					| option 1
    				li.plan-offers__item
    					span.plan-offers__bold Free
    					| option 2
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 3
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 4
    				li.plan-offers__item
    					span.plan-offers__bold 1x
    					| option 5
    			a.btn.plan__btn href="#" hrepurchase

    		/ plan 3
    		.plan
    			h2.plan__title Plan 3
    			div.plan__price
    				| &#36;10/
    				span.plan__price-month month
    			ul.plan-offers
    				li.plan-offers__item
    					span.plan-offers__bold 2x
    					| option 1
    				li.plan-offers__item
    					span.plan-offers__bold Free
    					| option 2
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 3
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 4
    				li.plan-offers__item
    					span.plan-offers__bold 1x
    					| option 5
    			a.btn.plan__btn href="#" hrepurchase

    		/ plan 4
    		.plan
    			h2.plan__title Plan 4
    			div.plan__price
    				| &#36;10/
    				span.plan__price-month month
    			ul.plan-offers
    				li.plan-offers__item
    					span.plan-offers__bold 2x
    					| option 1
    				li.plan-offers__item
    					span.plan-offers__bold Free
    					| option 2
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 3
    				li.plan-offers__item
    					span.plan-offers__bold Unlimited
    					| option 4
    				li.plan-offers__item
    					span.plan-offers__bold 1x
    					| option 5
    			a.btn.plan__btn href="#" hrepurchase


    / SCRIPTS
	script src="dist/js/global.min.js"

