.wrap {
	max-width: $large_size;
	margin: 120px auto;
}

/*------------------------------------*\
    Plans
\*------------------------------------*/

.plan {
	float: left;
	padding-bottom: 13px;
	margin: 0 1%;
	width: 23%;
	background: $white;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0, .1);
	cursor: pointer;
	transition: transform $plan_duration;

	&:hover {
		transform: scale(1.1);

		.plan__title {
			background: $blue;
			color: $white;
		}

		.plan__price {
			background: $orange;

			.plan__price-month {
				color: $white;
			}
		}

		.plan__btn {
			background: $orange;
			border-color: $orange;
			color: $white;
		}
	}
}

.plan__title {
	padding: 27px 0px 32px;
	font-size: 34px;
	font-weight: 300;
	color: #3e4f6a;
	border-radius: 5px 5px 0 0;
	transition: background $plan_duration;
}

.plan__price {
	background: $blue;
	color: $white;
	font-weight: bold;
	padding: 16px 0;
	transition: background $plan_duration;
}

.plan__price-month {
	color: $blue_light;
	transition: color $plan_duration;
}

.plan-offers {
	padding: 44px 0;
	display: block;
}

.plan-offers__item {
	margin-bottom: 27px;

	&:last-child {
		margin-bottom: 0;
	}
}

.plan-offers__bold {
	font-weight: bold;
	color: $blue;
}

.plan__btn {
	letter-spacing: 2px;
	display: inline-block;
	padding: 16px 0;
	text-transform: uppercase;
	width: 85%;
	font-weight: bold;
	color: $blue;
	border: 2px solid $blue;
	border-radius: 2px;
	text-transform: uppercase;
	transition: background $plan_duration,
				border-color $plan_duration,
				color $plan_duration;

	&:--hoverous {
		text-decoration: none;
	}
}

/*------------------------------------*\
    @media queris
\*------------------------------------*/

@media screen and (max-width: $medium_size) {
	.wrap {
		width: 95%;
	}

	.plan {
		width: 48%;
		margin-bottom: 2%;
	}
}

@media screen and (max-width: $small_size) {
	.wrap {
		width: 90%;
	}

	.plan {
		width: 100%;
		margin: 0 0 2%;
	}
}














